<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Geoquest</title>
    <link rel="shortcut icon" href="/map_logo.png">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css-toggle-switch/dist/toggle-switch.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=montserrat:400,700' rel-'stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/leaflet/dist/leaflet.css"></link>
    <link rel="stylesheet" href="/leaflet-draw/dist/leaflet.draw.css"></link>
    <link rel="stylesheet" href="/leaflet-label/dist/leaflet.label.css"></link>
    
    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery-ui/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-sortable/dist/sortable.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/leaflet/dist/leaflet.js"></script>
    <script src="/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="/leaflet-label/dist/leaflet.label.js"></script>
    <script src="/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" ng-app="GeoQuest">
    <div id="main" ui-view></div>
</body>
</html>

