#login-form, #signup-form {
  margin: 0 auto;
  margin-bottom: 10px;
}

.auth-container {
	position: relative;
	top: 100px;
}

.buffer {
	margin: 40px;
	margin-top: 60px;
	text-align: center;
}

.auth-button {
	margin-left: 23%;
}