* {
  box-sizing: border-box; }

body {
  background-color: #F5F5F5;
  font-size: 16px; }

html, body, #main, #questmap {
  height: 100%; }

.container {
  width: 100% !important;
  /* Overrides Bootstrap */ }

.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.repeat-item.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0px; }

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity: 1;
  height: 30px; }

#quest-map {
  height: 400px;
  width: 100%;
  margin-top: 20px; }

.edit-quest-form .ng-invalid.ng-touched {
  background-color: #FA787E; }

.btn {
  margin-bottom: 15px;
  margin-right: 5px; }

.btn-row {
  margin-bottom: 5px; }

/* Scrolling Step Menu */
.steps-list {
  width: 100%;
  padding: 13px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: rgba(91, 192, 222, 0.1);
  margin: 10px 0;
  border-radius: 2px;
  max-height: 65px;
  white-space: nowrap; }

.stepIcon {
  display: inline-block;
  height: 45px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: rgba(91, 192, 222, 0.3);
  width: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer; }

body ::-webkit-scrollbar {
  opacity: 1; }

/* Form */
.edit-step .ng-invalid.ng-touched {
  background-color: #FA787E; }

.breadcrumb {
  margin-bottom: 5px; }
  .breadcrumb li {
    cursor: pointer; }
  .breadcrumb li.gray {
    color: gray;
    cursor: auto; }

/* Map */
#quest-step-map {
  height: 500px;
  width: 100%;
  border-radius: 5px; }

/* Modal Preview */
.modal-preview {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  overflow-y: scroll;
  border-radius: 2px;
  max-height: 500px; }
  .modal-preview input {
    margin: 0 auto; }
  .modal-preview .yellow-bar {
    text-align: center;
    padding: 2px;
    margin: 20px 0;
    background-color: #ffcc00;
    border-radius: 5px;
    cursor: pointer; }
  .modal-preview .yellow-bar:hover {
    background-color: #edbd00; }

.modal-image {
  width: 100%;
  margin: 15px 0; }
  .modal-image img {
    width: 100%; }

.right-panel {
  margin-bottom: 20px; }

/* ================================================================== */
/* Toolbars
/* ================================================================== */
.leaflet-draw-section {
  position: relative; }

.leaflet-draw-toolbar {
  margin-top: 12px; }

.leaflet-draw-toolbar-top {
  margin-top: 0; }

.leaflet-draw-toolbar-notop a:first-child {
  border-top-right-radius: 0; }

.leaflet-draw-toolbar-nobottom a:last-child {
  border-bottom-right-radius: 0; }

.leaflet-draw-toolbar a {
  background-image: url("https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/images/spritesheet.png");
  background-repeat: no-repeat; }

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url("images/spritesheet-2x.png");
  background-size: 270px 30px; }

.leaflet-draw a {
  display: block;
  text-align: center;
  text-decoration: none; }

/* ================================================================== */
/* Toolbar actions menu
/* ================================================================== */
.leaflet-draw-actions {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 26px;
  /* leaflet-draw-toolbar.left + leaflet-draw-toolbar.width */
  top: 0;
  white-space: nowrap; }

.leaflet-touch .leaflet-draw-actions {
  left: 32px; }

.leaflet-right .leaflet-draw-actions {
  right: 26px;
  left: auto; }

.leaflet-touch .leaflet-right .leaflet-draw-actions {
  right: 32px;
  left: auto; }

.leaflet-draw-actions li {
  display: inline-block; }

.leaflet-draw-actions li:first-child a {
  border-left: none; }

.leaflet-draw-actions li:last-child a {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.leaflet-right .leaflet-draw-actions li:last-child a {
  -webkit-border-radius: 0;
  border-radius: 0; }

.leaflet-right .leaflet-draw-actions li:first-child a {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.leaflet-draw-actions a {
  background-color: #919187;
  border-left: 1px solid #AAA;
  color: #FFF;
  font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 28px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px; }

.leaflet-touch .leaflet-draw-actions a {
  font-size: 12px;
  line-height: 30px;
  height: 30px; }

.leaflet-draw-actions-bottom {
  margin-top: 0; }

.leaflet-draw-actions-top {
  margin-top: 1px; }

.leaflet-draw-actions-top a,
.leaflet-draw-actions-bottom a {
  height: 27px;
  line-height: 27px; }

.leaflet-draw-actions a:hover {
  background-color: #A0A098; }

.leaflet-draw-actions-top.leaflet-draw-actions-bottom a {
  height: 26px;
  line-height: 26px; }

/* ================================================================== */
/* Draw toolbar
/* ================================================================== */
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-position: -2px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-position: 0 -1px; }

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -31px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -29px -1px; }

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: -62px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: -60px -1px; }

.leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-position: -92px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-position: -90px -1px; }

.leaflet-draw-toolbar .leaflet-draw-draw-marker {
  background-position: -122px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker {
  background-position: -120px -1px; }

/* ================================================================== */
/* Edit toolbar
/* ================================================================== */
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
  background-position: -152px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit {
  background-position: -150px -1px; }

.leaflet-draw-toolbar .leaflet-draw-edit-remove {
  background-position: -182px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
  background-position: -180px -1px; }

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
  background-position: -212px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
  background-position: -210px -1px; }

.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
  background-position: -242px -2px; }

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
  background-position: -240px -2px; }

/* ================================================================== */
/* Drawing styles
/* ================================================================== */
.leaflet-mouse-marker {
  background-color: #fff;
  cursor: crosshair; }

.leaflet-draw-tooltip {
  background: #363636;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 6; }

.leaflet-draw-tooltip:before {
  border-right: 6px solid black;
  border-right-color: rgba(0, 0, 0, 0.5);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 7px;
  left: -7px; }

.leaflet-error-draw-tooltip {
  background-color: #F2DEDE;
  border: 1px solid #E6B6BD;
  color: #B94A48; }

.leaflet-error-draw-tooltip:before {
  border-right-color: #E6B6BD; }

.leaflet-draw-tooltip-single {
  margin-top: -12px; }

.leaflet-draw-tooltip-subtext {
  color: #f8d5e4; }

.leaflet-draw-guide-dash {
  font-size: 1%;
  opacity: 0.6;
  position: absolute;
  width: 5px;
  height: 5px; }

/* ================================================================== */
/* Edit styles
/* ================================================================== */
.leaflet-edit-marker-selected {
  background: rgba(254, 87, 161, 0.1);
  border: 4px dashed rgba(254, 87, 161, 0.6);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.leaflet-edit-move {
  cursor: move; }

.leaflet-edit-resize {
  cursor: pointer; }

/* ================================================================== */
/* Old IE styles
/* ================================================================== */
.leaflet-oldie .leaflet-draw-toolbar {
  border: 3px solid #999; }

.leaflet-oldie .leaflet-draw-toolbar a {
  background-color: #eee; }

.leaflet-oldie .leaflet-draw-toolbar a:hover {
  background-color: #fff; }

.leaflet-oldie .leaflet-draw-actions {
  left: 32px;
  margin-top: 3px; }

.leaflet-oldie .leaflet-draw-actions li {
  display: inline;
  zoom: 1; }

.leaflet-oldie .leaflet-edit-marker-selected {
  border: 4px dashed #fe93c2; }

.leaflet-oldie .leaflet-draw-actions a {
  background-color: #999; }

.leaflet-oldie .leaflet-draw-actions a:hover {
  background-color: #a5a5a5; }

.leaflet-oldie .leaflet-draw-actions-top a {
  margin-top: 1px; }

.leaflet-oldie .leaflet-draw-actions-bottom a {
  height: 28px;
  line-height: 28px; }

.leaflet-oldie .leaflet-draw-actions-top.leaflet-draw-actions-bottom a {
  height: 27px;
  line-height: 27px; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

a, a:hover, a:focus {
  text-decoration: none;
  color: white; }

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333; }

.navbar-brand {
  font-weight: 700; }

.navbar-brand:focus {
  outline: none; }

.navbar .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:target {
  background-color: transparent; }

.navbar-custom a {
  color: white; }

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.navbar-custom .nav li a:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2); }

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out; }
  .top-nav-collapse {
    padding: 0;
    background-color: #333; }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.page-scroll {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -webkit-transform;
  -moz-transition-duration: 1s; }

.blue-header {
  background-color: #5bc0de;
  color: #f5f5f5;
  padding: 10px;
  margin-bottom: 15px;
  position: relative; }
  .blue-header .welcome {
    font-size: 14px;
    position: absolute;
    bottom: 1px;
    text-align: center;
    margin-left: 5px; }
  .blue-header h2 {
    display: inline-block; }
  .blue-header .logout {
    margin-top: 23px;
    cursor: pointer; }
  .blue-header .logout:hover {
    color: white; }
  .blue-header small {
    margin-left: 10px; }

* {
  font-family: 'Josefin Sans', sans-serif;
  /*Don't need important tags later*/
  font-weight: 700 !important; }

section {
  padding: 40px 0; }

.center {
  text-align: center;
  margin: 20px 0; }

#header {
  position: relative;
  height: 500px;
  background: url("images/trail.JPG") 50% 0 no-repeat;
  background-size: cover;
  padding-top: 30px;
  color: white; }
  #header .header-text {
    position: absolute;
    bottom: 220px; }

section.fixed-img {
  background-size: cover !important;
  height: 200px;
  color: white; }
  section.fixed-img h1 {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    top: 35%;
    font-size: 50px;
    line-height: 50px; }

#keep {
  background: url("images/bridge.jpg") 50% 0 repeat fixed; }

#cool {
  background: url("images/turtle.jpeg") 50% 0 repeat fixed; }

#also-cool {
  background: url("images/ivy.jpg") 50% 0 repeat fixed; }

/* So iframe height stays proportional to width */
.wrapper {
  width: 70%;
  height: 100%;
  margin: 40px auto;
  background: #CCC; }

.h_iframe {
  position: relative; }

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto; }

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#who {
  padding-bottom: 60px; }

.one-of-us {
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto; }
  .one-of-us img {
    margin: 20px 0 15px;
    width: 100%;
    border: 1px solid #666; }
  .one-of-us div {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #666;
    color: white; }
  .one-of-us div:hover {
    background-color: #1A85BC; }
  .one-of-us div a i {
    margin: 7px 0 0 9px; }

#auth {
  background: url("images/trip-stuff.jpg") 50% 0 repeat fixed;
  background-size: cover;
  color: white; }

footer {
  height: 40px;
  margin-top: 20px; }
  footer p {
    font-weight: normal !important;
    text-align: center; }

@media (min-width: 767px) {
  .login {
    margin-bottom: 30px; } }

@media (max-width: 435px) {
  .header-text {
    position: relative;
    top: 45px; } }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

.page-wrap {
  height: calc(100% - 20px);
  margin-bottom: -40px;
  /* Equal to footer height */ }

.page-wrap:after {
  content: "";
  display: block;
  height: 40px; }

.userQuest {
  background-color: light-grey;
  border: 1px solid;
  border-radius: 3px; }

.questClickeable:hover {
  background-color: rgba(91, 192, 222, 0.3);
  cursor: pointer; }

.createNewQuest {
  margin: 10px; }

.questDetailContainer {
  padding-bottom: 10px;
  background-color: rgba(91, 192, 222, 0.1);
  border-top: 1px solid; }

.questDetailContainer.ng-hide-add, .questDetailContainer.ng-hide-remove {
  transition: all linear 0.1s; }

.questDetailContainer.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px; }

questDetailContainer p {
  margin-bottom: 0; }

.questDetail {
  padding: 10px; }

.questClickeable {
  width: 100%;
  height: 100%;
  padding: 10px; }

label.activeSwitch {
  margin: 10px 15px 15px 15px;
  cursor: pointer; }

.checkbox {
  display: inline-block;
  margin-left: 5px; }

.createNewQuest {
  margin-top: 15px; }
