navbar {

  display: block;
  background: white;
  // border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  padding-bottom: -100px;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 0px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }


  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

@media (max-width: 768px) {
  .nav.navbar-nav > ul >li {
    display: inline;
  }
  .nav.navbar-nav ul {
    width: 50%;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .nav.navbar-nav {
    height: 5% !important;
  }
}




