<h2>Dashboard</h2>
<hr>
<h3>Your Quests</h3>
<div ng-repeat="game in games" class="userGame repeat-item">
	 <div class="gameClickeable" ng-click="parentClick($index)">
		<p>{{game.name}} - {{game.summary | trimSummary }}</p>
	</div>
	<div class="gameDetailContainer" ng-show="game.showDetail">
		<div class="gameDetail">
			<p>This is the detail!</p>
			<p>{{ game }}</p>
			<label class="switch-light switch-material activeSwitch" onclick="">
				<input type="checkbox">

			  	<strong>
			    	Active (published)
			  	</strong>

			  	<span>
			    	<span>Off</span>
			    	<span>On</span>
			    	<a></a>
			  	</span>
			</label>
			<button class="btn btn-sm btn-default" ui-sref="editor({gameId: game.id})">edit</button>
		</div>
	</div>
</div>
<div class="createNewQuest">
	<button class="btn-lg btn btn-active" ui-sref="editor()">Create New Quest</button>
</div>