<h2>Dashboard</h2>
<hr>
<h3>Your Quests</h3>
<div ng-repeat="quest in quests" class="repeat-item userquest">
	 <div class="questClickeable" ng-click="parentClick($index)">
		<p>{{quest.name}} - {{quest.summary}}</p>
	</div>
	<div class="questDetailContainer" ng-show="quest.showDetail">
		<div class="questDetail">
			<p>This is the detail!</p>
			<p>{{ quest.name }}</p>
			<label class="switch-light switch-material activeSwitch" ng-click="switchActive(quest)">
				<input type="checkbox" ng-model="quest.active">
			  	<strong>Active:</strong>
			  	<span>
			    	<span>Off</span>
			    	<span>On</span>
			    	<a></a>
			  	</span>
			  </input>
			</label>
			<button class="btn btn-sm btn-default" ng-click="goToEditor(quest)">Edit</button>
			<button class="btn btn-sm btn-default" ng-click="deleteQuest(quest)">Delete</button>
		</div>
	</div>
</div>
<div class="createNewQuest">
	<button class="btn-lg btn btn-active" ui-sref="editor({id: null})">Create New Quest</button>
</div>