<div class="page-wrap"><!-- To make footer sticky -->
	<blue-header head="Dashboard" small="Your Quests"></blue-header>
	
	<resolve-loader></resolve-loader>

	<div ng-repeat="quest in quests" class="repeat-item userquest">
		 <div class="questClickeable" ng-click="parentClick($index)">
		 	<div class="container">
				<p>{{quest.name}}</p>
			</div><!-- .conatainer -->
		</div>
		<div class="questDetailContainer" ng-show="quest.showDetail">
			<div class="questDetail container">
				<p>{{ quest.summary }}</p>
				<label class="switch-light switch-material activeSwitch" ng-click="switchActive(quest)">
					<input type="checkbox" ng-model="quest.active">
				  	<strong>Active:</strong>
				  	<span>
				    	<span>Off</span>
				    	<span>On</span>
				    	<a></a>
				  	</span>
				  </input>
				</label>
				<alert type="danger" ng-show="!quest.valid">
					This quest either has no steps, or has steps without target or message info. It will not show up for mobile users, even if marked active. 
				</alert>
				<button class="btn btn-sm btn-info" ng-click="goToEditor(quest)">Edit</button>
				<button class="btn btn-sm btn-danger" ng-click="deleteQuest(quest)">Delete</button>
			</div>
		</div>
	</div>
	<div class="createNewQuest">
		<div class="container">
			<button class="btn-lg btn btn-info btn-active" ui-sref="editor({id: null})">Create New Quest</button>
		</div><!-- .container -->
	</div>
</div><!-- .page-wrap -->

<footer>
    <p>Go GeoQuest 2016</p>
</footer>
