<div class="row">
	<div class="editor-container">
		<div class="state-editor col-xs-10">
			<div class="state-form">
				<h1>Edit State</h1>
				<form class="form-horizontal edit-state" name="editStateForm" ng-submit="update()">
					<div class="formitem">
						<span class="formtitle">Name</span><br>
						<input name="name" class="form-control" type="text" ng-model="mapstate.name"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">(Array of) Visible Regions</span><br>
						<input name="visibleRegions" class="form-control"  type="text" ng-model="mapstate.visibleRegions"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Message Title</span><br>
						<input name="modal.title" class="form-control" type="text" ng-model="mapstate.modal.title"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Message Text</span><br>
						<input name="modal.text" class="form-control"  type="text" ng-model="mapstate.modal.text"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Message Image URL</span><br>
						<input name="mapstate.modal.imageUrl" class="form-control"  type="text" ng-model="mapstate.modal.imageUrl"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Transition Condition Name</span><br>
						<input name="transitionCondition.name" class="form-control"  type="text" ng-model="mapstate.transitionCondition.name"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Transition Condition Region</span><br>
						<input name="transitionCondition.region" class="form-control"  type="text" ng-model="mapstate.transitionCondition.region"><br>
					</div>

					<button type="submit" class="btn bmu-bg-blue">Save</button>
				</form>
			</div>
		</div>
		<div class="states-list col-xs-2">
			<div ui-sortable class="statesContainer" ng-model="quest.mapstates">
				<div ng-repeat="state in quest.mapstates track by $index" class="stateIcon" ui-sref=".mapstate ({mapstateid: state._id})">{{state.name}}
				</div>
			</div>
		</div>
	</div>
</div>
<section id="map" class="state-map">
	<leaflet></leaflet>
<section>
</div>