.page-wrap {
	height: calc(100% - 20px);
	margin-bottom: -40px; /* Equal to footer height */
}
.page-wrap:after {
	content: "";
	display: block;
	height: 40px;
}

.userQuest {
	background-color: light-grey;
	border: 1px solid;
	border-radius: 3px;
}

.questClickeable:hover {
	background-color: rgba(91, 192, 222, 0.3);
	cursor: pointer;
}

.createNewQuest {
	margin: 10px;
}

.questDetailContainer {
	padding-bottom:10px;
	background-color: rgba(91, 192, 222, 0.1);;
	border-top: 1px solid;
}

.questDetailContainer.ng-hide-add, .questDetailContainer.ng-hide-remove {
  transition: all linear 0.1s;
}

.questDetailContainer.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
questDetailContainer p {
	margin-bottom: 0;
}

.questDetail {
	padding:10px;
}

.questClickeable {
	width: 100%;
	height: 100%;
	padding: 10px;
}

label.activeSwitch {
	margin: 10px 15px 15px 15px;
	cursor: pointer;
}

.checkbox {
	display: inline-block;
	margin-left: 5px;
}

.createNewQuest {
	margin-top: 15px;
}