.userGame {
	background-color: light-grey;
	border: 1px solid;
	border-radius: 3px;
}

.gameClickeable:hover {
	background-color: grey;
}

.createNewQuest {
	margin: 10px;
}

.gameDetailContainer {
	padding-bottom:10px;
	background-color: rgba(89, 165, 165, 0.2);
	border-top: 1px solid;
}

.gameDetailContainer.ng-hide-add, .gameDetailContainer.ng-hide-remove {
  transition: all linear 0.1s;
}

.gameDetailContainer.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.gameDetail {
	padding:10px;
}

.gameClickeable {
	width: 100%;
	height: 100%;
	padding: 10px;
}

label.activeSwitch {
	margin:10px;
}