.userQuest {
	background-color: light-grey;
	border: 1px solid;
	border-radius: 3px;
}

.questClickeable:hover {
	background-color: grey;
}

.createNewQuest {
	margin: 10px;
}

.questDetailContainer {
	padding-bottom:10px;
	background-color: rgba(89, 165, 165, 0.2);
	border-top: 1px solid;
}

.questDetailContainer.ng-hide-add, .questDetailContainer.ng-hide-remove {
  transition: all linear 0.1s;
}

.questDetailContainer.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.questDetail {
	padding:10px;
}

.questClickeable {
	width: 100%;
	height: 100%;
	padding: 10px;
}

label.activeSwitch {
	margin:10px;
}

.checkbox {
	display: inline-block;
	margin-left: 5px;
}