* {
  box-sizing: border-box;
}

html, body, , #main, #map {
    height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'auth/main';
