* {
  box-sizing: border-box;
}

html, body, , #main, #map {
    height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
  height: 0px;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
   height: 30px;
}

@import 'directives/_main';
@import 'home/main';
@import 'tutorial/main';
@import 'auth/main';
@import 'dashboard/main';
@import 'quest-modal/main';