<blue-header ng-show="editorVisible" head="Quest Editor" small="General"></blue-header>
<blue-header ng-show="!editorVisible" head="Quest Editor" small="Steps"></blue-header>

<div ng-show="$root.editorVisible">
	<div class="container">
		<div class="btn-row">
			<button class="btn btn-info" ng-click="transitionToMapStateEditor()" ng-disabled="form.$invalid">
				Step Editor
			</button>
			<button class="btn btn-info" ng-click="saveQuest()" ng-disabled="form.$invalid">
				Save and Return
			</button>
		</div><!-- .btn-row -->
	</div><!-- .container -->

	<resolve-loader></resolve-loader>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<form name="form" class="form-horizontal edit-quest-form" novalidate>
					<div class="formitem">
						<span class="formtitle">Name</span><br>
						<input name="name" class="form-control" type="text" ng-model="quest.name" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Summary</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.summary" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Estimated Time (Hrs)</span><br>
						<input class="form-control" type="number" ng-model="quest.time" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Welcome Message</span><br>
						<input class="form-control" type="text" ng-model="quest.openingInfo.title" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Welcome Image url</span><br>
						<input class="form-control" placeholder="Paste URL Here" rows="2" type="text" ng-model="quest.openingInfo.imageUrl"><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Welcome Instructions</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.openingInfo.text" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Closing Message</span><br>
						<input class="form-control" type="text" ng-model="quest.closingInfo.title" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Closing Instructions</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.closingInfo.text" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Shuffle Steps &nbsp;</span>
						<input class="checkbox" type="checkbox" ng-model="quest.shuffle"><br>
					</div>
				</form>
			</div><!-- .col-sm-6 -->
			<div class="col-sm-6">

				<ol class="breadcrumb">
				    <li ng-click="viewMainMap=true" ng-class="{'gray':viewMainMap}">Map</li>
				    <li ng-click="viewMainMap=false" ng-class="{'gray':!viewMainMap}">Preview Message</li>
				</ol>

				<p ng-show="viewMainMap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Targets&nbsp;&nbsp;(hover to see order)</p>
				<div ng-show="viewMainMap" id="quest-map">
					<leaflet></leaflet>
				</div>

				<div ng-show="!viewMainMap" class="modal-preview">
					<div class="container">
						<!-- opening message -->
						<h2 class="center">{{quest.openingInfo.title}}</h2>
						<div ng-show="quest.openingInfo.imageUrl" class="modal-image"><img src="{{quest.openingInfo.imageUrl}}"></div>
						<p>{{quest.openingInfo.text}}</p>
						<div class="yellow-bar"><h4>Got it!</h4></div>
					</div><!-- .container -->
				</div>
			</div><!-- .col-sm-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- editorVisible -->

<ui-view></ui-view>
<footer>
    <p>Go GeoQuest 2016</p>
</footer>
