<div class="container top-margin edit-quest-container" ng-show="$root.editorVisible">
	<div class="row btn-row quest-btn">
			<div class="col-xs-12">
				<button class="btn btn-info" ng-click="transitionToMapStateEditor()" ng-disabled="form.$invalid">
					MapState Editor
				</button>
				<button class="btn btn-info step-btn" ng-click="saveQuest()" ng-disabled="form.$invalid">
					Save Quest
				</button>
			</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="quest-form col-xs-4">
				<form name="form" class="form-horizontal edit-quest-form" novalidate>
					<div class="formitem">
						<span class="formtitle">Name</span><br>
						<input name="name" class="form-control" type="text" ng-model="quest.name" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Summary</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.summary" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Estimated Time (Hrs)</span><br>
						<input class="form-control" type="number" ng-model="quest.time" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Welcome Message</span><br>
						<input class="form-control" type="text" ng-model="quest.openingInfo.title" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Welcome Instructions</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.openingInfo.text" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Closing Message</span><br>
						<input class="form-control" type="text" ng-model="quest.closingInfo.title" required><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Closing Instructions</span><br>
						<textarea class="form-control" rows="2" type="text" ng-model="quest.closingInfo.text" required></textarea><br>
					</div>
					<div class="formitem">
						<span class="formtitle">Shuffle Steps &nbsp;</span>
						<input class="checkbox" type="checkbox"><br>
					</div>
				</form>
			</div>
			<div class="col-xs-8">
				<div id="quest-map" class="state-map">
					<leaflet></leaflet>
				</div>
			</div>

		</div>
	</div>
</div>
<ui-view></ui-view>